<!doctype html>
<html lang="ru" class="h-100">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'games/css/styles.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <title>Document</title>
</head>
<body class="h-100">
    <div class="container bg-light h-100">
        <div class="row justify-content-md-center">
            <div class="calendar col-md-auto">
                {{ calendar }}
                <br>
                <div class="row justify-content-between">
                    <div class="col-5"><a class="btn btn-info left" href="{% url 'games:index' %}?{{ prev_month }}">Предедущий месяц</a></div>
                    <div class="col-5"><a class="btn btn-info right" href="{% url 'games:index' %}?{{ next_month }}">Следующий месяц</a></div>
                </div>
            </div>
        </div>
        <div style="height:50px"></div>
        <div class="row justify-content-center">
            <table class="table w-75">
                <thead>
                    <tr>
                        <th scope="col">Названия</th>
                        <th scope="col">Цена</th>
                        <th scope="col">Время</th>
                        <th scope="col">Статус</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for item in games %}
                            <th scope="row">{{ item.title }}</th>
                            <td>{{ item.price }} руб</td>
                            <td>{{ item.datetime.day }}.{{ item.datetime.month }}.{{ item.datetime.year }}  {{ item.datetime.hour }}:{{ item.datetime.minute }}</td>
                            <td>{{ item.status }}</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>